@font-face {
    font-family: "Creepy";
    src: url("Assets/Fonts/Creepy.woff") format("woff"), url("Assets/Fonts/Creepy.woff") format("woff")
}

@font-face {
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format("woff"), url("Assets/Fonts/Lunacy.woff2") format("woff2")
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#9D5900, #3D2200);
}

.page-title {
    color: #FF6D00;
    font-family: Creepy, serif;
    font-weight: normal;
    text-align: center;
    font-size: 5em;
    margin-top: 10px;
}

.game-info-time {
    font-family: Lunacy, serif;
    color: #FFBB89;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.game-info-flips {
    font-family: Lunacy, serif;
    color: #FFBB89;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.left-container {
    padding-top: 10px;
    display: inline-block;
}

.right-container {
    padding-top: 10px;
    display: inline-block;
}

.card {
    position: relative;
    background-color: #000000;
    height: 8em;
    width: 6.5em;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cob-web {
    position: absolute;
    width: 47px;
    height: 47px;
}